// Place all the styles related to the Physicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#view_tables {
  border-collapse: collapse;
  background-color: #EEEEEE;
  margin-bottom: 10px;
  text-align: left;
}

#view_tables td {
    border: 1px solid #AAAAAA;
    padding: 3px;
    text-align: left;
  }

#view_tables th {
  font-weight: bold;
  background-color: #EEEEEE;
  border: 1px solid #AAAAAA;
  padding: 3px;
}

#view_tables tr:nth-child(even) {
  background-color: lightblue;
}